<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
     NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h1>Latest Treding News</h1>
    <ion-button (click)="goToNews()" shape="round">Read the News <br>
      <ion-icon name="newspaper-outline" style="width: 40px;height: 40px;"></ion-icon></ion-button>
    <br><br>

    </div>
  </ion-card>
</ion-content>
