<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
     NEWS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2>Latest Local News</h2>
  <ion-button href="./news" shape="round">Local News</ion-button>
  <br><br>
  <h2>International News</h2>
  <ion-button href="./news-single" shape="round">Local News</ion-button>
  <br><br>
  </div>
</ion-card>
<ion-content [fullscreen]="true">
 
</ion-content>
